.error-box {
    width: 40vw;
    min-width: 20rem;
    position: fixed!important;
    top: 60px;
    left: 0;
    padding: 10px;
    border-radius: var(--radius);
    z-index: 4000000;
    background-color: var(--primary-input-color);
    text-align: left;
    position: relative;
    word-wrap: break-word;
}

.message {
    margin-top: 1.8rem;
    background-color: var(--message-color);
    padding: .4rem;
    color: var(--font-color);
    border-radius: var(--radius);
}

.del {
    background-color: var(--danger-color);
    border-radius: var(--radius);
    padding: .2rem;
    position: absolute;
    top: .5rem;
    right: .6rem;
    color: var(--font-color);
    transition: transform .4s ease-in-out;
}

.del:hover,
.del:focus {
    transform: scale(1.1)
}